@import "tailwindcss";

@theme {
  --animate-spin-slow: spin 8s linear infinite;
  --animate-scan: scan 2s linear infinite;
}

@keyframes scan {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

@layer base {
  body {
    @apply bg-black overflow-hidden;
  }
}
